In [1]:
x = 5
type(x)

int

In [6]:
a, b, c = 'a', 'b', 'c'
c

'c'

In [7]:
a = b = c = 5
b

5

In [9]:
listy = [1,2,4]
x, y, z = listy
print(x, y, z)

1 2 4

In [10]:
# Camel Case
myVariableName = 'camelCase'
# Pascal Case
MyVariableName = 'PascalCase'
# Snake Case
my_variable_name = 'snake_case'

In [14]:
x = 5
y = "I am"
print(y, x, "years old")

I am 5 years old

# Data Types

In [15]:
type(1+8j)

complex

In [18]:
multiline_string = """ I willl eat the ice cream
and then I will go to the park.
"""
print(multiline_string)

 I willl eat the ice cream
and then I will go to the park.

In [19]:
""" thank's for w"wa """

' thank\'s for w"wa '

In [22]:
text = 'hello, world'
text[1:5]

'ello'

In [24]:
# Tuples
tup = (1,2,3,3,3,5,5)
tup

(1, 2, 3, 3, 3, 5, 5)

In [25]:
# Set  
sety = {1,2,5,5,5,6}
sety

{1, 2, 5, 6}

In [26]:
sety[4]

TypeError: 'set' object is not subscriptable

In [27]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

In [28]:
print(set1 & set2)

{3}

In [30]:
print(set1 | set2)

{1, 2, 3, 4, 5}

In [31]:
print(set1 - set2)

{1, 2}

In [ ]:
# Symmetric Difference: Elements in either set, but not both
print(set1 ^ set2)

{1, 2, 4, 5}

In [35]:
# Dictionary
dicty = {'name': 'mohamed', 'age': 25}
dicty['name']

'mohamed'

In [38]:
dicty.values()

dict_values(['mohamed', 25])

In [39]:
dicty.keys()

dict_keys(['name', 'age'])

In [40]:
dicty.items()

dict_items([('name', 'mohamed'), ('age', 25)])

In [41]:
dicty.update({'city': 'Setif'})
dicty

{'name': 'mohamed', 'age': 25, 'city': 'Setif'}

In [42]:
del dicty['age']
dicty

{'name': 'mohamed', 'city': 'Setif'}

# Comparision Operators

In [44]:
a=5
b=110
a>b

False

In [48]:
a>b or a<b

True

In [49]:
'a' in ['m', 'a', 2]

True

In [50]:
mmm = "made me buy it"
"buy" in mmm

True

# IF Statement

In [52]:
print("yes") if a > b else print("no")

no

# For Loops

In [1]:
dicty = {'name': 'mohamed', 'age': 25}
for key, value in dicty.items():
    print(f'{key}: {value}')

name: mohamed
age: 25

In [2]:
for key in dicty.keys():
  print(key)

name
age

In [3]:
for value in dicty.values():
  print(value)

mohamed
25

In [4]:
flavors = ['Vanilla', 'Chocolate', 'Strawberry']
toppings = ['Hot Fudge', 'Oroes', 'Peanuts']
for flavor in flavors:
    for topping in toppings:
        print(f'{flavor} with {topping}')

Vanilla with Hot Fudge
Vanilla with Oroes
Vanilla with Peanuts
Chocolate with Hot Fudge
Chocolate with Oroes
Chocolate with Peanuts
Strawberry with Hot Fudge
Strawberry with Oroes
Strawberry with Peanuts

In [6]:
i = 0
while i < len(flavors):
  print(flavors[i])
  i+=1

Vanilla
Chocolate
Strawberry

In [9]:
# break + else
i = 0
while i < len(flavors):
  print(flavors[i])
  break
  i+=1
else:
  print("End of the loop")

Vanilla

In [18]:
# continue
# break + else
i = 0
while i < len(flavors):
  if i == 1:
    i += 1
    continue
  print(flavors[i])
  i += 1

Vanilla
Strawberry

# Functions

In [22]:
def add(a, b):
  return a + b

def voice():
  print("hello guys")

In [23]:
print(add(1, 2))

3

In [38]:
def add(*args):
  return args[0] + args[2]

In [39]:
args_tpl = (5, 2, 33)
add(*args_tpl)

38

In [60]:
def introduce(**kwargs):
  return print(f"My name is {kwargs['name']} I am {kwargs['age']}")

In [61]:
introduce(name='mohamed', age=50, jobTitle="Data Scientist")

portfolio = {'name':'mohamed', 'age':25, 'JobTitle':'Data Scientis'}
introduce(**portfolio)

My name is mohamed I am 50
My name is mohamed I am 25

In [62]:
def profile(name, age):
  print(f"My name is {name} I am {age}")

profile(name="mohamed", age=19)
profile("mohamed", 18)
profile(age=18, name="mohamed")

My name is mohamed I am 19
My name is mohamed I am 18
My name is mohamed I am 18

# Casting: Converting Data Types

In [63]:
num = 5
type(num)

int

In [64]:
values = [1, 2, 5, 5, 5, 6, 888, 8, 8 , 9]
type(values)

list

In [65]:
set(values)

{1, 2, 5, 6, 8, 9, 888}

In [66]:
profile = {'name':'mohamed', 'age':25, 'JobTitle':'Data Scientis'}
type(profile)

dict

In [68]:
type(profile.values())

dict_values

In [69]:
list(profile.values())

['mohamed', 25, 'Data Scientis']

In [70]:
phrase = "I love you"
list(phrase)

['I', ' ', 'l', 'o', 'v', 'e', ' ', 'y', 'o', 'u']